* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #88c1dd;
}
.wrapper {
  width: 80%;
  margin-top: 2%;
  margin-left: 8%;
  display: grid;
  grid-template-rows: 1fr;
}
#mixInSymbol {
  margin-top: 30%;
  background-color: black;
  height: 20px;
}
#mixInGridColSignText {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 10px;
}
#mixInUnderlineText {
  word-break: break-word;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
.adderForToDo {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 10px;
}
.adderForToDo .adderSign {
  margin-top: 30%;
  background-color: black;
  height: 20px;
}
.adderForToDo .input {
  border: none;
  line-height: 20px;
  word-break: break-word;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  background-color: #88c1dd;
}
.list {
  display: grid;
  grid-template-rows: 1fr;
}
.list .toToDoBoxRemovable {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 10px;
}
.list .toToDoBoxRemovable .removable {
  margin-top: 30%;
  background-color: black;
  height: 20px;
}
.list .toToDoBoxRemovable .line {
  word-break: break-word;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
