// Variables.
@background-color: #88c1dd;
@background-color-header: #4f8d73;
@text-color: white;
@text-color-header: rgb(88, 175, 110);
@text-underline-thickness: 2px;
@text-size: 20px;

@symbol-removable-size: 30px;
@symbol-removable-margin-top: 30%;
@symbol-removable-bar-radius: 50%;
@border-radius-bars-size: 50%;
@adder-symbol-transition: background-color 2s;
@remove-symbol-transition: background-color 2s, transform 1s, height 1s,
  border-radius 1s;
@padding-borderLeft-text: 10px;

@navbar-foreground-text-color: #9ec2b3;
@navbar-background-text-color: white;
@navbar-text-size-mob: 15px;

// MixIns
// For every widget like the remover and adder to give size, color and margin.
#mixInSymbol {
  margin-top: @symbol-removable-margin-top;
  height: @symbol-removable-size;
}
// Grid layout for widget and text in a container.
#mixInGridColSignText {
  display: grid;
  grid-template-columns: @symbol-removable-size 1fr;
  column-gap: 10px;
}

// styles the text content of every box.
#mixInUnderlineText {
  word-break: break-word;

  color: @text-color;
  text-decoration: underline;
  text-decoration-thickness: @text-underline-thickness;
  text-underline-offset: 7px;
}

#mixInAdderBars {
  position: absolute;
  background-color: white;
  width: 20%;
  height: 100%;
  left: 40%;
  transition: @adder-symbol-transition;
}

// mixIns
#mixInHoverLighterItem(@lightHueTextColor: 30%) {
  border: none;
  border-left: solid;
  border-right: solid;
  border-color: darken(@text-color, @lightHueTextColor, relative);

  &:hover {
    border-color: @text-color;
  }
  &:focus {
    background-color: lighten(@background-color-header, 5%, relative);
  }
}

#mixInRemovableBarsCircle {
  background-color: white;
  width: @border-radius-bars-size;
  height: @border-radius-bars-size;
  border-radius: @symbol-removable-bar-radius;
  position: absolute;
  top: 20%;
  left: 20%;
  transition: @remove-symbol-transition;
}

// Make sure every element behaves the same when not modified.
* {
  box-sizing: border-box;
  // Some elements have margin by default.
  margin: 0;
  padding: 0;
  font-size: @text-size;
}

body {
  background-color: @background-color;
}

label {
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  letter-spacing: 2px;
}

#linkNavbar {
  width: max-content;
  margin-left: auto;
  background-color: @navbar-foreground-text-color;
  color: @navbar-background-text-color;
    
  a {    
    text-decoration: none;
    color: @navbar-background-text-color;
    @padding-sides: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    @space-height-take-up: 50px;
    height: @space-height-take-up;
    line-height: @space-height-take-up;
    padding-left: @padding-sides;
    padding-right: @padding-sides;    
  }

  a:hover {
    background-color: @navbar-background-text-color;
    color: @navbar-foreground-text-color;    
  }

}

.firstColorSection {
  background-color: @background-color-header;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -1;
}

// style hierarchy for .wrapper <div>
//  |-- .adderForToDo
//  |-- .list
.wrapper {
  // Wrapper should be centered in the center. Looks better.
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}

// style hierarchy for .adderForToDo <div>
//    |-- label <lable>
//    |-- .adderSign <div>
//    |-- .input <textarea>
.adderForToDo {
  textarea {
    resize: none;
  }
  #mixInGridColSignText();
  .adderSign {
    #mixInSymbol();
    position: relative;
    .leftBar {
      #mixInAdderBars();
    }
    .rightBar {
      #mixInAdderBars();
      transform: rotate(90deg);
    }
    .leftBar.hover,
    .rightBar.hover {
      background-color: green;
      transition: @adder-symbol-transition;
    }
  }
  .input {
    padding: @padding-borderLeft-text;
    cursor: default;
    #mixInHoverLighterItem();

    line-height: 1.5em;
    #mixInUnderlineText();

    background-color: @background-color-header;

    margin-bottom: 2em;
  }
}

// style hierarchy
//  |-- .list <div>
//    |-- .toToDoBoxRemovable <div> Serves as container for remove widget and the text content.
//      |-- .removable <div> the sign to be clicked to remove a toDoBox.
//      |-- .line <p>

.list {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 8px;

  .toToDoBoxRemovable {
    #mixInGridColSignText();
    .removable {
      #mixInSymbol();
      position: relative;
      .leftBar {
        #mixInRemovableBarsCircle();
      }
      .rightBar {
        #mixInRemovableBarsCircle();
      }
      .leftBar.hover,
      .rightBar.hover {
        height: 100%;
        width: 20%;
        background-color: red;
      }

      #barsHover(@direction: 1) {
        transform: rotate(45deg * @direction);
        left: 40%;
        top: -7%;
        border-radius: 10%;
        transition: @remove-symbol-transition;
      }

      .leftBar.hover {
        #barsHover();
      }
      .rightBar.hover {
        #barsHover(-1);
      }
    }

    .line {
      #mixInUnderlineText();
      #mixInHoverLighterItem(20%);
      border-right: none;
      padding-left: @padding-borderLeft-text;
      margin-top: 9px;
    }

  } 

}

// To make sure that first to-do-list item does
// not cross the first color section.
.toToDoBoxRemovable:first-child {
  margin-top: 30px;
}

@media screen and (max-width: 550px) {
  
  #linkNavbar {
      margin-right: 10px;
      a{
        font-size: @navbar-text-size-mob;
      }
  }
  

  .toToDoBoxRemovable:first-child {
    margin-top: 50px;
  }
  label {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .wrapper {
    width: 100%;
  }
  @margin-left: 5%;
  .adderForToDo {
    margin-left: @margin-left;
  }

  .toToDoBoxRemovable {
    margin-left: @margin-left;
  }

  textarea {
    width: 90%;
  }
  .list {
    width: 70%;
  }
}
