// Variables.
@background-color: #88c1dd;
@background-color-header: #4f8d73;
@text-color: white;
@text-color-header: rgb(88, 175, 110);
@text-underline-thickness: 4px;
@text-size: 20px;
@symbol-removable-size: 20px;
@symbol-removable-margin-top: 30%;

// Make sure every element behaves the same when not modified.
* {
  box-sizing: border-box;
  // Some elements have margin by default.
  margin: 0;
  font-size: @text-size;
}

body {
  background-color: @background-color;
}

// .firstColorSection {
//   background-color: @background-color-header;
//   top: 0;
//   position: absolute;
//   width: 100%;
//   height: 260px;
//   z-index: -1;
// }

// style hierarchy for .wrapper <div>
//  |-- .adderForToDo
//  |-- .list
.wrapper {
  // Wrapper should be centered in the center. Looks better.
  width: 80%;
  margin: auto;
  margin-top: 2%;
  display: grid;
  grid-template-rows: 1fr;
}

label {
  font-weight: bold;
  text-align: center;
  font-family: Arial, Gadget, sans-serif;
  letter-spacing: 2px;
}

// For every widget like the remover and adder to give size, color and margin.
#mixInSymbol {
  margin-top: @symbol-removable-margin-top;
  background-color: black;
  height: @symbol-removable-size;
}
// Grid layout for widget and text in a container.
#mixInGridColSignText {
  display: grid;
  grid-template-columns: @symbol-removable-size 1fr;
  column-gap: 10px;
}

// styles the text content of every box.
#mixInUnderlineText {
  word-break: break-word;
  color: @text-color;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 5px;
}

// style hierarchy for .adderForToDo <div>
//    |-- label <lable>
//    |-- .adderSign <div>
//    |-- .input <textarea>
.adderForToDo {
  #mixInGridColSignText();
  margin-top: 20px;
  .adderSign {
    #mixInSymbol();
  }
  .input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    line-height: 1.5em;
    #mixInUnderlineText();
    background-color: @background-color-header;
    margin-bottom: 2em;
  }
}

// style hierarchy
//  |-- .list <div>
//    |-- .toToDoBoxRemovable <div> Serves as container for remove widget and the text content.
//      |-- .removable <div> the sign to be clicked to remove a toDoBox.
//      |-- .line <p>
.list {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 8px;
  .toToDoBoxRemovable {
    #mixInGridColSignText();
    .removable {
      #mixInSymbol();
    }
    .line {
      #mixInUnderlineText();
    }
  }
}
